@font-face {
    font-family: 'Milestone';
    src: url('../../assets/MilestoneFreeVersion-Script.otf') format('opentype');
    /* Outras propriedades opcionais: font-weight, font-style */
  }


body{
    background-color: #1F2937;
}
h1{
    font-family: 'Milestone';
}